@import '../../sass/mixins.scss';
@import '../../sass/variables.scss';

h1 {
    @include FlexCenterColumnWrap;
    height: 5vh;
    background-color: $light-color;
    padding: $spacing-unit;
    border-radius: $border-radius;
    font-size: large;
}