@import '../../sass/styles.scss';

footer{
    @include FlexCenterColumnWrap;
    height: 5vh;
    background-color: $light-color;
    padding: $spacing-unit;
    border-radius: $border-radius;
    font-size: large;
}